div {
  margin-left: 0;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Andada Pro', serif;
}

h1 {
  color: #66BFBF;
  margin: 0;
}

h2 {
  font-family: 'Kaushan Script', cursive;
  color: #66BFBF;
}

h3 {
  font-family: 'Kaushan Script', cursive;
  color: #11999E;
  margin:0;
}

a {
margin-left: 55px;
  color: white;
  text-decoration: none;
  padding-top: 30px;
display: inline-block;
top: 20px;

}
p{line-height: 2;}


.copyright{background-color: #11999E;
margin: 0;}
.contact-me {

  display: flex;
  justify-content: center;
  background-color: #11999E;


}

.me {
  font-family: 'Unna', serif;
  font-size: 2.70rem;
}

.abt {
  font-family: 'Festive', cursive;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: bold;
  margin-top: 0;
}

.topcontainer {
  background-color: #EAF6F6;
  line-height: 2;
  padding-top: 90px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 76px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;}

.sumi {
  border-radius: 100%;
  width: 200px;
}
.skill-row{width:50%;
margin: 50px auto 100px auto;
text-align: left;
}
.Reading{float:left;
margin-right: 30px;}
.Movie{float: right;
margin-left: 30px;}
hr{border-style: dotted;
border-width: 0;
border-top-width: 5px;
width: 105px;
border-color: grey;
}
.contac-me {
   background: #3D94F6;
   background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #00BDF7;
   font-family: Times New Roman;
   font-weight: normal;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   height: 20px;
   padding: 20px;
   position: absolute;
   right: 20px;
   top: 0;


}

.contac-me:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
